*, *::before, *::after{
    box-sizing: border-box;
}

body{
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
height: 100vh;
background-color: hsl(18, 13%, 15%);
}

.head {
    width: 300px;
    height: 340px;
    background-color: hsl(19, 76%, 88%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80% 80% 100% 100%;
}
.eyes , .brows{
    width: 195px;
    position :absolute;
    display: flex; 
    justify-content: space-between;
}

.eye{
background-color: white;
height: 40px;
width: 65px;
position: relative;
border-radius: 50px;
border-top: 3px solid hsl(19, 46%, 68%);
border-bottom:3px solid hsl(19, 46%, 68%); 
display: flex;
justify-content: center;
align-items: center;
position: relative;
overflow: hidden;
}   
.eye::before{
content: '';
width: 41px;
height: 41px;
background-color: hsl(78, 10%, 42%);;
border-radius: 100%;
position: absolute;
margin-left: 15px;
}
.eye::after{
    content: '';
    height: 15px;
    width: 15px;
    background-color: #333;
    position: absolute;
    border-radius: 50%;
    margin-left: 15px;
    margin-bottom: 5px;
}
.brow{
    width: 65px;
    height: 32px;
    border-top: 10px solid hsl(27, 33%, 28%) ;
    border-radius: 100%;
    margin-bottom: 35px;
}
.nose{
width: 40px;
height: 30px;
border : 4px solid hsl(19, 46%, 68%);
margin-top: 100px;   
border-radius: 0% 0% 150% 150%;
border-top: none;
position: absolute;
}

.mouth{
    width: 100px;
    height: 40px;
    background-color: white;
    position: absolute;
    margin-top: 220px;
    border-radius: 20% 20% 100% 100%;
    border: 4px solid hsl(19, 46%, 68%);
    border-right-width: 1px;
    border-left-width : 1px;
    border-top-width: 2px;
}

.ears{
    z-index : -1;
     position: absolute;
    width: 340px;
    display: flex;
    justify-content: space-between;
}
.ear{
width: 25px;
height: 75px;
border: 2px solid hsl(19, 46%, 68%);
background: hsl(19, 76%, 85%);
border-radius: 0 100% 100% 0;
}

.ear:first-child{
    border-radius: 100% 0 0 100% ;

}

.hair{
    position: absolute;
    width: 300px;
    height: 125px;
    background-color: hsl(27, 33%, 28%);
    margin-bottom: 300px;
    border-radius: 50% 100% 0 0 ;
}

.hair::before,
.hair::after{
    content: '';
    height: 100px;
    width: 10px;
    background-color:  hsl(27, 33%, 28%);
    position: absolute;
    transform: translateY(100%);
}
.hair::after{
    right: 0;
}
.hair-corner{
    position: absolute;
    width: 100%;
}
.hair-corner::before,
.hair-corner::after{
    content: '';
    position: absolute;
    width: 14px;
    height: 20px;
    transform: rotate(45deg);
    background-color: hsl(27, 33%, 28%);
    top: 115px;
    left: 5px;

}
.hair-corner::after {
    left: initial;
    right: 5px;
    transform: rotate(-45deg);
  }